@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista llamada desde el manejador por defecto?</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
