@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista de error OnException en carpeta SHARED</title>
</head>
  <body>
    <h1>Error capturado por el metodo OnException() del controlador</h1>
    <h2>
      @Model
    </h2>
  </body>
</html>
