@model HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista de error en carpeta del Controller</title>
</head>
<body>
  <div>
    <h1>Error capturado por Filtro de Excepcion catch-all</h1>
    <h2>@Model.Exception.Message</h2>
  </div>
</body>
</html>
