<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://6b0a3e0e50cb47ed9b02d2250758b1f1.cloudapp.net/SimpleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleService"
                contract="AzureServiceRemoto.ISimpleService" name="BasicHttpBinding_ISimpleService" />
        </client>
    </system.serviceModel>
</configuration>