@using Bundles.Models
@model IEnumerable<Bundles.Models.Modelo>

@{
  //@using System.Web.Optimization
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  @*  @Scripts.Render("~/bundles/scripts") *@
</head>
<body>
<div>
  @foreach (var item in Model)
  {
    @Html.DisplayNameFor((Modelo x) => x.Propiedad)
    @Html.DisplayFor(m => item.Propiedad)

  }
</div>
</body>
</html>
