@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <div>
        
    </div>
</body>
</html>
