
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <title>HelloWorldRefresh</title>
  </head>

  <body>
    <div>
      @ViewBag.Mensaje
    </div>
    @Html.ActionLink("Refrescar", "HelloWorldRefresh")


  </body>

</html>
